<div ng-if="ctrl.table.rows.length !== 0 || ctrl.filterKeyword">
  <span>
    <span id="" style="font-size: 12px; margin-right: 10px">Filter by id/desc:     
      <input type="text" style="width: 30%" class="md-products-datalist-input" ng-change="ctrl.checkFilterKeyWord()" ng-model="ctrl.filterKeyword">
    </span>
  </span>
  <span class="text-right" style="float: right">
    <span style="font-size: 18px; margin-right: 10px;">
      <i style="margin-top: 8px;" ng-click="ctrl.onAddButtonClick()" class="fa fa-plus-circle fa-effect add-product-btn"></i>
    </span>
  </span>
</div>

<div class="table-panel-container" style="margin-top:5px; margin-bottom:10px">
	<div class="table-panel-header-bg" ng-show="ctrl.table.rows.length"></div>
	<div class="table-panel-scroll" ng-show="ctrl.table.rows.length">
		<table class="table-panel-table">
			<thead>
				<tr>
					<th ng-repeat="col in ctrl.table.columns" ng-if="!col.hidden">
						<div class="table-panel-table-header-inner pointer" ng-click="ctrl.toggleColumnSort(col, $index)">
							{{col.title}}
							<span class="table-panel-table-header-controls" ng-if="col.sort">
								<i class="fa fa-caret-down" ng-show="col.desc"></i>
								<i class="fa fa-caret-up" ng-hide="col.desc"></i>
							</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<div class="datapoints-warning" ng-show="ctrl.table.rows.length===0">
	<span class="small" >
		No material to show <tip>Nothing returned by data query OR No material to show</tip>
    </span> 
    <br>
    <br>
    <span class="small" >
        Add a new material &nbsp;&nbsp;<i class="fa fa-plus-circle fa-effect" ng-click="ctrl.onAddButtonClick()"></i>
    </span>
</div>
<div class="table-panel-footer">
</div>
